<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--注册页-->
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>摄影家</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="all" type="text/css">
    <link th:href="@{css/login-style.css}" rel="stylesheet" media="all">
    <link th:href="@{css/login.css}" rel="stylesheet" media="all">
    <script type="application/x-javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body class="user-select">
<div class="container">
    <div class="siteIcon"><img th:src="@{/images/logo.png}" alt="" data-toggle="tooltip" data-placement="top"
                               title="欢迎使用摄影家" draggable="false"/></div>
    <form th:action="@{/register}" method="post" autocomplete="off" class="form-signin">
        <h2 class="form-signin-heading">注册</h2>
        <br>
        <label for="name" class="sr-only">用户名</label>
        <input type="text" id="name" name="name" class="form-control" placeholder="用户名"
               maxlength="10" autofocus required/>
        <br>
        <label for="pwd" class="sr-only">密码</label>
        <input type="password" id="pwd" name="pwd" class="form-control" placeholder="密码"
               maxlength="16" required/>
        <br>
        <label for="pwd" class="sr-only">确认密码</label>
        <input type="password" id="againPwd" name="againPwd" class="form-control" placeholder="确认密码"
               maxlength="16" required/>
        <br>
        <p style="color: red">
            <span id="tips"></span>
        </p>
        <button class="btn btn-lg btn-block btn-color" type="submit" id="signInSubmit">登录</button>
    </form>
</div>
<script th:inline="javascript">
    var prefix = [[@{/}]];
    $(function () {
    });
    /**
     * 验证用户名是否重复
     * */
    $('#name').on('blur', function () {
        let name = $('input[name = "name"]').val();
        $.ajax({
            url: prefix + 'checkUserName/' + name,
            context: {name: name},
            method: 'get',
            success: function (data) {
               console.log(data)
            }
        })
    });

    /**
     * 密码验证
     */
    $("#againPwd").on('blur', function () {
        if (false === againPwdTips()) {
            return false;
        }
    });


    $("#signInSubmit").on('click', function () {
        if (false === againPwdTips()) {
            return false;
        }
    });

    function againPwdTips() {

        let pwd = $('input[name = "pwd"]').val();
        let againPwd = $('input[name = "againPwd"] ').val();
        if (pwd != againPwd) {
            $('#tips').html("密码不一致");
            return false;
        }
    }
</script>
</body>
</html>
