<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--后台首页-->
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="X-Frame-Options" content="SAMEORIGIN">
    <meta name="format-detection" content="telephone=no">
    <title>摄影家后台</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/bootstrapthree.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin-style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/fonts.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/admin_scripts.js}"></script>
</head>

<body class="user-select">
<section class="container-fluid">
    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><span
                            class="sr-only">切换导航</span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                        <span class="icon-bar"></span></button>
                    <a class="navbar-brand" href="/">摄影家后台</a></div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button"
                                                aria-haspopup="true" aria-expanded="false">admin <span
                                class="caret"></span></a>
                        </li>
                        <li><a th:href="@{/adminLogin}" onClick="if(!confirm('是否确认退出？'))return false;">退出登录</a></li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="row">
        <!--左侧菜单-->
        <aside class="col-sm-3 col-md-2 col-lg-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a th:href="@{/manager/index}">报告</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a th:href="@{/manager/article?limit=10&offset=1}">文章</a></li>
                <li><a th:href="@{/manager/recommend?limit=10&offset=1}">推荐文章</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a th:href="@{/manager/manage}">管理用户</a></li>
                <li><a th:href="@{/manager/manageAdmin}">管理员管理</a></li>
            </ul>
        </aside>
        <!--右侧内容-->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
            <h1 class="page-header">信息总览</h1>
            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder">
                    <h4>用户数</h4>
                    <span class="text-muted" id="userNum"></span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <h4>文章</h4>
                    <span id="blogNum" class="text-muted"></span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <h4>评论</h4>
                    <span id="commentNum" class="text-muted"></span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <h4>相册</h4>
                    <span id="drawTitleNum" class="text-muted"></span>
                </div>
            </div>
            <h1 class="page-header">状态</h1>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <tbody>
                    <tr>
                        <td>登录者: <span>admin</span>，这是您第 <span>13</span> 次登录</td>
                    </tr>
                    <tr>
                        <td>上次登录时间: 2016-01-08 15:50:28 , 上次登录IP: ::1:55570</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<script th:inline="javascript">
    let ctx = [[@{/}]];
    let prefix = ctx + "manager";
    $(function () {
        initNum();
    });
    let initNum = function () {
        $.ajax({
            url: prefix + '/initData',
            method: 'get',
            success: function (data) {
                $('#userNum').html(data.userNum + '个');
                $('#blogNum').html(data.blogNum + '篇');
                $('#commentNum').html(data.commentNum + '条');
                $('#drawTitleNum').html(data.drawTitleNum + '个');
            }
        });
    }
</script>
</body>
</html>
