<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--文章页-->
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="X-Frame-Options" content="SAMEORIGIN">
    <meta name="format-detection" content="telephone=no">
    <title>摄影家后台</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/bootstrapthree.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin-style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/fonts.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/admin_scripts.js}"></script>
</head>

<body class="user-select">
<section class="container-fluid">
    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><span
                            class="sr-only">切换导航</span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                        <span class="icon-bar"></span></button>
                    <a class="navbar-brand" href="/">摄影家后台</a></div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button"
                                                aria-haspopup="true" aria-expanded="false">admin <span
                                class="caret"></span></a>
                        </li>
                        <li><a th:href="@{/adminLogin}" onClick="if(!confirm('是否确认退出？'))return false;">退出登录</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="row">
        <!--左侧菜单-->
        <aside class="col-sm-3 col-md-2 col-lg-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a th:href="@{/manager/index}">报告</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a th:href="@{/manager/article?limit=10&offset=1}">文章</a></li>
                <li><a th:href="@{/manager/recommend?limit=10&offset=1}">推荐文章</a></li>
                <li><a th:href="@{/manager/comment}">评论</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a th:href="@{/manager/manage}">管理用户</a></li>
                <li><a th:href="@{/manager/manageAdmin}">管理员管理</a></li>
            </ul>
        </aside>
        <!--右侧内容-->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
            <form action="/Article/checkAll" method="post">
                <h1 class="page-header">推荐文章</h1>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th><span class="glyphicon glyphicon-th-large"></span> <span class="visible-lg">选择</span>
                            </th>
                            <th><span class="glyphicon glyphicon-file"></span> <span class="visible-lg">标题</span></th>
                            <th><span class="glyphicon glyphicon-time"></span> <span class="visible-lg">日期</span></th>
                            <th><span class="glyphicon glyphicon-pencil"></span> <span class="visible-lg">是否推荐</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="article: ${pageList}">
                            <td><input type="checkbox" class="input-control" name="checkbox[]" value=""/></td>
                            <td class="article-title" th:text="${article.title}"></td>
                            <td th:text="${#temporals.format(article.createTime, 'yyyy-MM-dd HH:mm')}"></td>
                            <td><a th:rel="${article.id}">推荐</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <footer class="message_footer">
                    <nav>
                        <div class="btn-toolbar operation" role="toolbar">
                            <div class="btn-group" role="group"><a class="btn btn-default" onClick="select()">全选</a> <a
                                    class="btn btn-default" onClick="reverse()">反选</a> <a class="btn btn-default"
                                                                                          onClick="noselect()">不选</a>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="submit" class="btn btn-default" data-toggle="tooltip"
                                        data-placement="bottom" title="删除全部选中" name="checkbox_delete">删除
                                </button>
                            </div>
                        </div>
                        <ul class="pagination pagenav" id="page">
                            <li class="disabled" id="pagePre"><a aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a>
                            </li>
                            <li class="active" id="1"><a href="#">1</a></li>
                            <li id="2"><a href="#">2</a></li>
                            <li id="3"><a href="#">3</a></li>
                            <li id="4"><a href="#">4</a></li>
                            <li id="5"><a href="#">5</a></li>
                            <li id="pageNext"><a href="#" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a></li>
                        </ul>
                    </nav>
                </footer>
            </form>
        </div>
    </div>
</section>
<script th:inline="javascript">
    let ctx = [[@{/}]];
    let prefix = ctx + "manager/";
    // 每页的长度
    let limit = 10;
    // 页数
    let offset = 1;
    $("#main table tbody tr td a").click(function () {
        let name = $(this);
        let id = name.attr("rel"); //对应id
        if (event.srcElement.textContent == "推荐") {
            $.ajax({
                type: "POST",
                url: prefix + "blogRecommend",
                data: {id: id},
                cache: false, //不缓存此页面
                success: function (data) {
                    window.location.reload();
                }
            });
        }
    });
    //分页
    $("#page li").click(function () {
        let name = $(this);
        let id = name[0].id; //对应id
        $("#page li").removeAttr("class");
        $("#" + id).attr("class","active");
        if (id == "pagePre") {
            offset --;
        }else if (id == "pageNext") {
            offset ++;
        }else {
            offset = id;
        }
    })

</script>
</body>
</html>
