<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--博客页主页-->
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="X-Frame-Options" content="SAMEORIGIN">
    <meta name="format-detection" content="telephone=no">
    <title>摄影家</title>

    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="all" type="text/css">
    <link th:href="@{/css/icofont.css}" rel="stylesheet" media="all">
    <link th:href="@{css/font-awesome.css}" rel="stylesheet" media="all">
    <link th:href="@{css/style.css}" rel="stylesheet" media="all">
    <link th:href="@{css/blog.css}" rel="stylesheet" media="all">
    <link th:href="@{css/responsive.css}" rel="stylesheet" media="all">
</head>

<body>


<!--头部导航-->
<header class="blog-header">
    <nav class="navbar navbar-expand-lg site-navigation ">
        <div class="container">
            <a class="navbar-brand" href="#"><img th:src="@{images/logo.png}" alt="logo" class="img-fluid"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse"
                    aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="icofont icofont-navigation-menu"></i></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav ">
                    <li class="nav-item" style="padding-top: 10px">
                        <a class="nav-link page-scroll" href="index-header2.html">主页</a>
                    </li>
                    <li class="nav-item dropdown" style="padding-top: 10px">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            博客
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <a class="dropdown-item" href="single-blog.html">博客主页</a>
                            <a class="dropdown-item" href="sidebar.html">写博客</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown" style="padding-top: 10px">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            相册
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            <a class="dropdown-item" href="lifestyle.html">相册首页</a>
                            <a class="dropdown-item" href="hairstyle.html">上传图片</a>
                            <a class="dropdown-item" href="fashion.html">Fashion</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown" style="padding-top: 10px">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            关于
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                            <a class="dropdown-item" href="about.html">关于我们</a>
                            <a class="dropdown-item" href="contact.html">联系</a>
                            <a class="dropdown-item" href="404.html">404</a>
                        </div>
                    </li>
                    <li class="nav-item" style="padding-top: 10px">
                        <a class="nav-link page-scroll" href="http://www.baidu.com">搜索</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll navbar-brand" style="background:#fff;width: 100px;height: auto;">
                            <img th:src="@{images/blog/author.jpeg.jpg}" alt="" class="img-fluid rounded-circle">
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="page-header jumbotron p-3 p-md-5 text-white">
    <div class="dark-overlay"></div>
    <div class="container">
        <div class="col-md-6 px-0 mx-auto ">
            <div class="text-center page-banner-coontent">
                <h2>摄影博客</h2>
                <p>在这里，网站用户分享了有关自己的摄影经验及摄影技巧</p>
            </div>
        </div>
    </div>
</div>

<!--内容-->
<main class="container">
    <div class="row">
        <!--内容左边-->
        <div class="col-md-8 blog-main col-sm-7">
            <!--博客 4篇-->
            <!--带大图片的博客1篇-->
            <div class="blog-post">
                <div class="blog-block-img">
                    <img th:src="@{images/blog/inner-5.jpg}" alt="" class="img-fluid">
                </div>
                <p class="blog-post-cat">Lifestyle</p>
                <a href="#">
                    <h2 class="blog-post-title">Only Photography What You Love Women Modelling </h2>
                </a>

                <p class="blog-post-meta"><img th:src="@{images/blog/widget-2.jpg}" alt="" class="img-fluid small">January
                    1, 2014 by <a href="#">Mark</a></p>
                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia
                    bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus,
                    tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet
                    risus.</p>

                <a href="#" class="read-more">Continue Reading</a>
            </div>

            <!--带小图片的博客3篇-->
            <div class="row">
                <div class="col-lg-6">
                    <div class="blog-post ">
                        <div class="row">
                            <div class="blog-post-thumbnail-zone">
                                <img th:src="@{images/blog/blog-img1.jpg}" alt="" class="img-fluid">
                            </div>
                            <div class="blog-post-content py-3">
                                <p class="blog-post-cat mt0">Fashion,Lifestyle</p>
                                <a href="#">
                                    <h3>Only Photography What You Love Women Modelling </h3>
                                </a>
                                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus.</p>

                                <a href="#" class="read-more">Continue Reading</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.blog-post LList -->
                </div>
                <div class="col-lg-6">
                    <div class="blog-post ">
                        <div class="row">
                            <div class="blog-post-thumbnail-zone">
                                <img th:src="@{images/blog/blog-img1.jpg}" alt="" class="img-fluid">
                            </div>
                            <div class="blog-post-content py-3">
                                <p class="blog-post-cat mt0">Fashion,Lifestyle</p>
                                <a href="#">
                                    <h3>Only Photography What You Love Women Modelling </h3>
                                </a>
                                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus.</p>

                                <a href="#" class="read-more">Continue Reading</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.blog-post LList -->
                </div>
                <div class="col-lg-6">
                    <div class="blog-post ">
                        <div class="row">
                            <div class="blog-post-thumbnail-zone">
                                <img th:src="@{images/blog/blog-img1.jpg}" alt="" class="img-fluid">
                            </div>
                            <div class="blog-post-content py-3">
                                <p class="blog-post-cat mt0">Fashion,Lifestyle</p>
                                <a href="#">
                                    <h3>Only Photography What You Love Women Modelling </h3>
                                </a>
                                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus.</p>

                                <a href="#" class="read-more">Continue Reading</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.blog-post LList -->
                </div>
                <div class="col-lg-6">
                    <div class="blog-post ">
                        <div class="row">
                            <div class="blog-post-thumbnail-zone">
                                <img th:src="@{images/blog/blog-img1.jpg}" alt="" class="img-fluid">
                            </div>
                            <div class="blog-post-content py-3">
                                <p class="blog-post-cat mt0">Fashion,Lifestyle</p>
                                <a href="#">
                                    <h3>Only Photography What You Love Women Modelling </h3>
                                </a>
                                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus.</p>

                                <a href="#" class="read-more">Continue Reading</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.blog-post LList -->
                </div>
            </div>

            <!--页码-->
            <nav aria-label="navigation ">
                <ul class="pagination blog-pagination justify-content-end">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Older</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Newer</a>
                    </li>
                </ul>
            </nav>

        </div>

        <!--内容右边-->
        <aside class="col-md-4 blog-sidebar col-sm-5">

            <!--博客分类-->
            <div class="py-3">
                <div class="sidebar-block">
                    <h4 class="sidebar-title">分类</h4>
                    <ol class="list-unstyled mb-0">
                        <li><a href="#">Fashion <span>(10)</span></a></li>
                        <li><a href="#">Lifestyle <span>(5)</span></a></li>
                        <li><a href="#">Hairstyle <span>(7)</span></a></li>
                    </ol>
                </div>
            </div>

            <!--最新文章 7篇-->
            <div class="py-3">
                <div class="sidebar-block latest-post">
                    <h4 class="sidebar-title">最新文章</h4>
                    <ol class="list-unstyled">
                        <li>
                            <a href="#">
                                <div class="rpost-img">
                                    <img src="assets/images/blog/widget-4.jpg" alt="" class="img-fluid">
                                </div>
                                <h5>High Fashion Black and White Photoshoot Art</h5>
                                <p class="text-muted">20 June 2018 </p>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <div class="rpost-img">
                                    <img src="assets/images/blog/widget-2.jpg" alt="" class="img-fluid">
                                </div>
                                <h5>Spanish Women are the Epitome of Beautiful</h5>
                                <p class="text-muted">20 June 2018 </p>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <div class="rpost-img">
                                    <img src="assets/images/blog/widget-3.jpg" alt="" class="img-fluid">
                                </div>
                                <h5>Beauty you lIfe with natural</h5>
                                <p class="text-muted">20 June 2018</p>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <div class="rpost-img">
                                    <img src="assets/images/blog/widget-1.jpg" alt="" class="img-fluid">
                                </div>
                                <h5>Spanish Women are the Epitome of Beautiful</h5>
                                <p class="text-muted">20 June 2018</p>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <div class="rpost-img">
                                    <img src="assets/images/blog/widget-1.jpg" alt="" class="img-fluid">
                                </div>
                                <h5>Spanish Women are the Epitome of Beautiful</h5>
                                <p class="text-muted">20 June 2018</p>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <div class="rpost-img">
                                    <img src="assets/images/blog/widget-1.jpg" alt="" class="img-fluid">
                                </div>
                                <h5>Spanish Women are the Epitome of Beautiful</h5>
                                <p class="text-muted">20 June 2018</p>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <div class="rpost-img">
                                    <img src="assets/images/blog/widget-1.jpg" alt="" class="img-fluid">
                                </div>
                                <h5>Spanish Women are the Epitome of Beautiful</h5>
                                <p class="text-muted">20 June 2018</p>
                            </a>
                        </li>
                    </ol>
                </div>
            </div>

            <!--热门文章 7篇-->
            <div class="py-3">
                <div class="sidebar-block latest-post">
                    <h4 class="sidebar-title">热门文章</h4>
                    <ol class="list-unstyled">
                        <li>
                            <a href="#">
                                <div class="rpost-img">
                                    <img src="assets/images/blog/widget-4.jpg" alt="" class="img-fluid">
                                </div>
                                <h5>High Fashion Black and White Photoshoot Art</h5>
                                <p class="text-muted">20 June 2018 </p>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <div class="rpost-img">
                                    <img src="assets/images/blog/widget-2.jpg" alt="" class="img-fluid">
                                </div>
                                <h5>Spanish Women are the Epitome of Beautiful</h5>
                                <p class="text-muted">20 June 2018 </p>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <div class="rpost-img">
                                    <img src="assets/images/blog/widget-3.jpg" alt="" class="img-fluid">
                                </div>
                                <h5>Beauty you lIfe with natural</h5>
                                <p class="text-muted">20 June 2018</p>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <div class="rpost-img">
                                    <img src="assets/images/blog/widget-1.jpg" alt="" class="img-fluid">
                                </div>
                                <h5>Spanish Women are the Epitome of Beautiful</h5>
                                <p class="text-muted">20 June 2018</p>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <div class="rpost-img">
                                    <img src="assets/images/blog/widget-1.jpg" alt="" class="img-fluid">
                                </div>
                                <h5>Spanish Women are the Epitome of Beautiful</h5>
                                <p class="text-muted">20 June 2018</p>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <div class="rpost-img">
                                    <img src="assets/images/blog/widget-1.jpg" alt="" class="img-fluid">
                                </div>
                                <h5>Spanish Women are the Epitome of Beautiful</h5>
                                <p class="text-muted">20 June 2018</p>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <div class="rpost-img">
                                    <img src="assets/images/blog/widget-1.jpg" alt="" class="img-fluid">
                                </div>
                                <h5>Spanish Women are the Epitome of Beautiful</h5>
                                <p class="text-muted">20 June 2018</p>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <div class="rpost-img">
                                    <img src="assets/images/blog/widget-1.jpg" alt="" class="img-fluid">
                                </div>
                                <h5>Spanish Women are the Epitome of Beautiful</h5>
                                <p class="text-muted">20 June 2018</p>
                            </a>
                        </li>
                    </ol>
                </div>
            </div>

        </aside>
    </div>
</main>

<footer class="blog-footer">
    <div class="footer-social">
        <a href="#" target="_blank" class="fa fa-facebook"></a>
        <a href="#" target="_blank" class="fa fa-behance"></a>
        <a href="#" target="_blank" class="fa fa-twitter"></a>
        <a href="#" target="_blank" class="fa fa-linkedin"></a>
        <a href="#" target="_blank" class="fa fa-google-plus"></a>
        <a href="#" target="_blank" class="fa fa-youtube"></a>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit integer a urna vitae sem tempus.</p>
    <p>2018.Copyright Reserved for <a href="#">Personal</a> by <a href="http://www.bootstrapmb.com/">Dreambuzz</a>.</p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>

<script type="application/x-javascript" th:src="@{/js/jquery.slim.min.js}"></script>
<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/custom.js}"></script>
</body>
</html>
