<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--博客详情页-->
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="X-Frame-Options" content="SAMEORIGIN">
    <meta name="format-detection" content="telephone=no">
    <title>摄影家</title>

    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="all" type="text/css">
    <link th:href="@{/css/icofont.css}" rel="stylesheet" media="all">
    <link th:href="@{/css/font-awesome.css}" rel="stylesheet" media="all">
    <link th:href="@{/css/style.css}" rel="stylesheet" media="all">
    <link th:href="@{/css/blog.css}" rel="stylesheet" media="all">
    <link th:href="@{/css/responsive.css}" rel="stylesheet" media="all">
    <script type="application/x-javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
<!--头部导航-->
<header class="blog-header">
    <nav class="navbar navbar-expand-lg site-navigation ">
        <div class="container">
            <a class="navbar-brand" href="#"><img th:src="@{/images/logo.png}" alt="logo" class="img-fluid"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse"
                    aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="icofont icofont-navigation-menu"></i></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav ">
                    <li class="nav-item" style="padding-top: 10px">
                        <a class="nav-link page-scroll" th:href="@{/}">主页</a>
                    </li>
                    <li class="nav-item dropdown" style="padding-top: 10px">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            博客
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <a class="dropdown-item" th:href="@{/blog/blogIndex}">博客主页</a>
                            <a class="dropdown-item" th:href="@{/blog/addBlog}">写博客</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown" style="padding-top: 10px">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            相册
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            <a class="dropdown-item" th:href="@{/blog/photoIndex}">相册首页</a>
                            <a class="dropdown-item" th:href="@{/blog/addPhoto}">上传图片</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown" style="padding-top: 10px">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            关于
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                            <a class="dropdown-item" th:href="@{/blog/about}">关于我们</a>
                            <a class="dropdown-item" th:href="@{/blog/contact}">联系</a>
                        </div>
                    </li>
                    <li class="nav-item" style="padding-top: 10px">
                        <a class="nav-link page-scroll" href="http://www.baidu.com">搜索</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link page-scroll navbar-brand" style="background:#fff;width: 100px;height: auto;">
                            <img th:src="@{/images/blog/author.jpeg.jpg}" alt="" class="img-fluid rounded-circle">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
                            <p th:switch="${#httpSession.valueNames != null}">
                                <a th:case="false" class="dropdown-item" th:href="@{/login}" style="background: #fff">登录</a>
                                <a th:case="true" class="dropdown-item" th:href="@{/blog/person}" style="background: #fff">个人中心</a>
                            </p>
                            <a class="dropdown-item" th:href="@{/logout}" style="background: #fff">退出</a>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>
<!--封面图-->
<div class="page-header jumbotron p-3 p-md-5 text-white">
    <div class="dark-overlay"></div>
    <div class="container">
        <div class="col-md-6 px-0 mx-auto ">
            <div class="text-center page-banner-coontent">
                <h2>摄影博客</h2>
                <p>在这里，网站用户分享了有关自己的摄影经验及摄影技巧</p>
            </div>
        </div>
    </div>
</div>
<!--内容-->
<main class="container">
    <div class="row">
        <div class="col-md-8 blog-main col-sm-7">
            <div class="blog-post text-center blog-post-single">
                <div class="blog-block-img">
                    <img th:src="@{blog.user.avatarUrl}" alt="" class="img-fluid">
                </div>
                <p class="blog-post-cat">分类</p>
                <a href="#">
                    <h2 class="blog-post-title" th:text="${blog.title}"></h2>
                    <input name="id" th:field="${blog.id}"hidden>
                </a>

                <p class="blog-post-meta"><img th:src="@{images/blog/widget-2.jpg}" alt="" class="img-fluid small" th:text="${blog.createTime}"> by <a href="#" th:text="${blog.user.name}"></a></p>
<!--                <p th:text="${content}"></p>-->

            </div>
            <div class="clearfix"></div>

            <!--    作者    -->
            <div class="author-area">
                <div class="author-img">
                    <a href="#">
                        <span class=""><img alt="" th:src="@{images/blog/author.jpeg.jpg}"></span>
                    </a>
                </div>

                <div class="author-info">
                    <h4 class="upper">
                        <a href="#">作者名</a>
                    </h4>
                    <p>作者个性签名.</p>
                    <!--邮箱等-->
                    <div class="author-social-link">
                        <a href="#" target="_blank" title="Twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#" target="_blank" title="Facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#" target="_blank" title="Instagram">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a href="#" target="_blank" title="Pinterest">
                            <i class="fa fa-pinterest"></i>
                        </a>
                        <a href="#" target="_blank" title="Youtube">
                            <i class="fa fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>

            <!-- 评论  -->
            <div class="comment" id="respond">
                <div class="section-header">
                    <h3>评论</h3>
                    <hr>
                </div>
                <form action="#" method="post" id="commentform" class="comment-form">
                    <p class="comment-notes">
                        <span id="email-notes">与作者交流一下</span><span class="required">*</span></p>
                    <p class="comment-form-comment">
                        <label for="comment">评论</label>
                        <textarea id="comment" name="comment" cols="90" rows="8" required="required"></textarea>
                    </p>
                    <p class="form-submit">
                        <a href="#" class="btn btn-sm btn-dark">发送</a>
                    </p>
                </form>
            </div>
            <!--  评论  END -->
        </div>

        <aside class="col-md-4 blog-sidebar col-sm-5">

            <div class="py-3">
                <div class="sidebar-block">
                    <h4 class="sidebar-title">分类</h4>
                    <ol class="list-unstyled mb-0">
                        <li><a href="#">Fashion <span>(10)</span></a></li>
                        <li><a href="#">Lifestyle <span>(5)</span></a></li>
                        <li><a href="#">Hairstyle <span>(7)</span></a></li>
                    </ol>
                </div>
            </div>

            <div class="py-3">
                <div class="sidebar-block latest-post">
                    <h4 class="sidebar-title">最新文章</h4>
                    <!--最新文章 7篇-->
                    <ol class="list-unstyled">
                        <li>
                            <a href="#">
                                <div class="rpost-img">
                                    <img th:src="@{images/blog/widget-4.jpg}" alt="" class="img-fluid">
                                </div>
                                <h5>High Fashion Black and White Photoshoot Art</h5>
                                <p class="text-muted">20 June 2018 </p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="rpost-img">
                                    <img th:src="@{images/blog/widget-2.jpg}" alt="" class="img-fluid">
                                </div>
                                <h5>Spanish Women are the Epitome of Beautiful</h5>
                                <p class="text-muted">20 June 2018 </p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="rpost-img">
                                    <img th:src="@{images/blog/widget-3.jpg}" alt="" class="img-fluid">
                                </div>
                                <h5>Beauty you lIfe with natural</h5>
                                <p class="text-muted">20 June 2018</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="rpost-img">
                                    <img th:src="@{images/blog/widget-1.jpg}" alt="" class="img-fluid">
                                </div>
                                <h5>Spanish Women are the Epitome of Beautiful</h5>
                                <p class="text-muted">20 June 2018</p>
                            </a>
                        </li>
                    </ol>
                </div>
            </div>

        </aside>
    </div>
</main>
<!--底部-->
<footer class="blog-footer">

    <div class="footer-social">
        <a href="#" target="_blank" class="fa fa-facebook"></a>
        <a href="#" target="_blank" class="fa fa-behance"></a>
        <a href="#" target="_blank" class="fa fa-twitter"></a>
        <a href="#" target="_blank" class="fa fa-linkedin"></a>
        <a href="#" target="_blank" class="fa fa-google-plus"></a>
        <a href="#" target="_blank" class="fa fa-youtube"></a>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit integer a urna vitae sem tempus.</p>
    <p>2018.Copyright Reserved for <a href="#">Personal</a> by <a href="http://www.bootstrapmb.com/">Dreambuzz</a>.</p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>

<script type="application/x-javascript" th:src="@{/js/jquery.slim.min.js}"></script>
<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/custom.js}"></script>
</body>
<script th:inline="javascript">
    $(function () {
        let val = $('input[name = "id"]').val;
        console.log(val);
    })
</script>
</html>
